<aside class="d-flex flex-column main-layout-sidebar">
  <div class="sidebar-section" [routerLink]="['search-customer']">
    <img src="../../../../assets/images/sidebar/people-community.png" />
    <p>B2C</p>
  </div>
  <div class="sidebar-section" [routerLink]="['/b2b']">
    <img src="../../../../assets/images/sidebar/handbag.png" />
    <p>B2B</p>
  </div>
  <div class="sidebar-section" [routerLink]="['/menu']">
    <img src="../../../../assets/images/sidebar/menu-line.png" />
  </div>
  <div class="sidebar-section" [routerLink]="['/finger']">
    <img src="../../../../assets/images/sidebar/index-finger.png" />
  </div>
  <div class="sidebar-section" [routerLink]="['/login']">
    <img src="../../../../assets/images/sidebar/logout.png" />
  </div>
</aside>
