<aside class="d-flex flex-column">
  <div class="navbar-section" [routerLink]="['/b2c']">
    <img src="../../../../assets/sidebar/people-community.png" />
    <p>B2C</p>
  </div>
  <div class="navbar-section" [routerLink]="['/b2b']">
    <img src="../../../../assets/sidebar/handbag.png" />
    <p>B2B</p>
  </div>
  <div class="navbar-section" [routerLink]="['/menu']">
    <img src="../../../../assets/sidebar/menu-line.png" />
  </div>
  <div class="navbar-section" [routerLink]="['/finger']">
    <img src="../../../../assets/sidebar/index-finger.png" />
  </div>
  <div class="navbar-section" [routerLink]="['/login']">
    <img src="../../../../assets/sidebar/logout.png" />
  </div>
</aside>
