.list-group {
  .list-group-item {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #f38022;
    border: 1px solid #f38022;
    background-color: #242342;
    cursor: pointer;
  }

  .selected {
    background: rgba(81, 80, 118, 1);
  }
}

.customer-layout {
  width: 84vw;
}