.login-submit-button {
  font-family: "Inter", sans-serif;
  width: 6rem;
  height: 2.5rem;
  color: #fff;
  border: 0.062rem solid #60320c;
  border-radius: 1rem;
  background: #f38022;
}

.search-customer-button {
  width: 6rem;
  height: 2.2rem;
  background: #f38022;
}
