.customer-info-update {
  height: 80%;

  .customer-info-update-header {
    color: #f38022;

    img {
      cursor: pointer;
    }
  }

}

.customer-create-input {
  width: 70%;
  background-color: #ffcda4;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 0.4rem;
  height: 37.6px;
}

.not-turkish-citizen {
  height: 3%;
  width: 67.75%;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  color: #838383;
}
