<div class="customer-create">
  <form class="h-100" [formGroup]="form">
    <div class="h-75">
      <h2 class="customer-create-header">Customer Info Update</h2>
      <div class="content">
        <div class="content-column justify-content-around">
          <app-input
            inputId="fName"
            class="d-flex w-75 justify-content-between mt-4 align-items-center"
            type="text"
            placeholder=""
            inputClasses="form-control customer-info-update-input customer-info-update-input"
            labelClasses="font-inter w-25 fw-bolder text-xl"
            [required]="true"
            [control]="form.get('firstName')"
            >First Name
          </app-input>
          <app-input
            inputId="mName"
            class="d-flex w-75 justify-content-between mt-4 align-items-center"
            type="text"
            placeholder=""
            inputClasses="form-control customer-info-update-input"
            labelClasses="font-inter w-25 fw-bolder text-xl"
            [required]="true"
            [control]="form.get('middleName')"
            >Middle Name
          </app-input>
          <app-input
            inputId="lName"
            class="d-flex w-75 justify-content-between mt-4 align-items-center"
            type="text"
            placeholder=""
            inputClasses="form-control customer-info-update-input"
            labelClasses="font-inter w-25 fw-bolder text-xl"
            [required]="true"
            [control]="form.get('lastName')"
            >Last Name
          </app-input>
          <app-input
            inputId="gender"
            class="d-flex w-75 justify-content-between mt-4 align-items-center"
            type="text"
            placeholder=""
            inputClasses="form-control customer-info-update-input"
            labelClasses="font-inter w-25 fw-bolder text-xl"
            [required]="true"
            [control]="form.get('gender')"
            >Gender
          </app-input>
        </div>
        <div class="content-column justify-content-around">
          <app-input
            inputId="motherName"
            class="d-flex w-75 justify-content-between mt-4 align-items-center"
            type="text"
            placeholder=""
            inputClasses="form-control customer-info-update-input"
            labelClasses="font-inter w-25 fw-bolder text-xl"
            [required]="true"
            [control]="form.get('motherName')"
            >Mother Name
          </app-input>
          <app-input
            inputId="fatherName"
            class="d-flex w-75 justify-content-between mt-4 align-items-center"
            type="text"
            placeholder=""
            inputClasses="form-control customer-info-update-input"
            labelClasses="font-inter w-25 fw-bolder text-xl"
            [required]="true"
            [control]="form.get('fatherName')"
            >Father Name
          </app-input>
          <app-input
            inputId="bDate"
            class="d-flex w-75 justify-content-between mt-4 align-items-center"
            type="text"
            placeholder=""
            inputClasses="form-control customer-info-update-input"
            labelClasses="font-inter w-25 fw-bolder text-xl"
            [required]="true"
            [control]="form.get('birthDate')"
            >Birth Date
          </app-input>
          <app-input
            inputId="nId"
            class="d-flex w-75 justify-content-between mt-4 align-items-center"
            type="text"
            placeholder=""
            inputClasses="form-control customer-info-update-input"
            labelClasses="font-inter w-25 fw-bolder text-xl"
            [required]="true"
            [control]="form.get('nationalityId')"
            >Nationality ID
          </app-input>
        </div>
      </div>
    </div>
    <div class="create-customer-button-section">
      <app-button type="submit" buttonClasses="general-button">
        Cancel
      </app-button>
      <app-button type="submit" buttonClasses="general-button">
        Next
      </app-button>
    </div>
  </form>
</div>
