.login-screen-label {
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.remember-me {
  width: 1.5rem;
  height: 1.5rem;
}

.required {
  color: #f38022;
}

.contact-medium-update-input {
  background-color: #ffcda4;
}
