.login-screen-label {
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.search-customer-input-field {
  background-color: rgba(217, 217, 217, 0.45);
}

.remember-me {
  width: 1.5rem;
  height: 1.5rem;
}

.customer-info-update-input {
  width: 60%;
  background-color: #ffcda4;
  border: 1px solid black;
}

.customer-info-update-column {
  .required {
    color: #000;
    font-weight: 900;
  }
}

.login-form {
  .required {
    color: #f38022;
  }
}

.contact-medium-update-input,
.contact-medium-create-input {
  background-color: #ffcda4;
}

.create-billing-account-input {
  background-color: #ffcda4;
  width: 12rem;
}

.create-billing-account-label {
  width: 10rem;
}
