<nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/images/navbar-screen/navbarlogo.png" class="d-inline-block align-text-top">
      </a>
      <div class="d-flex">
        <div class="navbar-item">EN</div>
        <div class="vr"></div>
        <div class="navbar-item">Mobility-Resp.Sales Repr.</div>
        <div class="vr"></div>
        <div class="navbar-item">
            <img src="../../../../assets/images/navbar-screen/usericon.png" width="15" height="15">
            John
        </div>
      </div>
    </div>
</nav>
