nav {
  background-color: #242342;
  color: white;
  height: 10vh;

  .vr {
    height: 3rem;
  }
}
.navbar-item {
  margin: 0rem 0.5rem;
  padding: 0.5rem;

  img {
    margin: 0 0.3rem;
  }
}
