.customer-create {
    height: 96%;
    width: 84vw;
  
    .customer-create-header {
      color: #f38022;
  
      img {
        cursor: pointer;
      }
    }
  
  }
  
  fieldset{

    legend{
      font-size: 1rem;
      font-weight: 600;
      float: none;
      width: auto;
  }
}