<fieldset class="customer-create border border-dark">
  <legend class="ms-4 px-2">Create Customer:</legend>
  <div class="h-75">
    <h2 class="customer-create-header">Address Info</h2>
    <div class="content">
      <div
        class="box d-flex justify-content-center align-items-center align-self-end"
      >
        <button
          type="button"
          class="b-add-address"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Add New Address
        </button>
      </div>
      <div
        class="box d-flex justify-content-center align-items-center align-self-end"
      ></div>
    </div>
  </div>
  <div class="create-customer-button-section">
    <app-button
      [routerLink]="['/home/create-customer']"
      type="submit"
      buttonClasses="general-button"
      class=""
      >Previous</app-button
    >
    <app-button
      [routerLink]="['/home/contact-medium-create']"
      type="submit"
      buttonClasses="general-button"
      class=""
      >Next</app-button
    >
  </div>
</fieldset>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div class="address-modal-inputs">
            <div class="form-column">
              <app-input
                inputId="email"
                class="d-flex align-items-center justify-content-between mt-3 w-100"
                inputClasses="form-control address-modal-input"
                labelClasses="text-end address-modal-label"
                type="email"
                placeholder=""
                [required]="true"
              >
                City
              </app-input>
              <app-input
                inputId="home-phone"
                class="d-flex align-items-center justify-content-between mt-3 w-100"
                inputClasses="form-control address-modal-input"
                labelClasses="text-end address-modal-label"
                type="number"
                placeholder=""
                [required]="true"
                >Neighbourhood</app-input
              >
              <app-input
                inputId="email"
                class="d-flex align-items-center justify-content-between mt-3 w-100"
                inputClasses="form-control address-modal-input"
                labelClasses="text-end address-modal-label"
                type="email"
                placeholder=""
                [required]="true"
                >House/Flat Number</app-input
              >
            </div>
            <div class="form-column">
              <app-input
                inputId="email"
                class="d-flex align-items-center justify-content-between mt-3 w-100"
                inputClasses="form-control address-modal-input"
                labelClasses="text-end address-modal-label"
                type="email"
                placeholder=""
                [required]="true"
                >District</app-input
              >
              <app-input
                inputId="home-phone"
                class="d-flex align-items-center justify-content-between mt-3 w-100"
                inputClasses="form-control address-modal-input"
                labelClasses="text-end address-modal-label"
                type="number"
                placeholder=""
                [required]="true"
                >Street</app-input
              >
            </div>
          </div>
          <div class="customer-address-textarea mx-auto mt-3">
            <label for="address-description">Address Description*</label>
            <textarea id="address-description" class="w-100 mt-2" rows="5">
            </textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-evenly">
        <button type="button" class="b-popup" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="b-popup">Save</button>
      </div>
      <div class="customer-address-textarea mx-auto">
        <label for="address-description">Address Description*</label>
        <textarea id="address-description" class="w-100" rows="4"> </textarea>
      </div>
      <div class="modal-footer d-flex justify-content-evenly">
        <button type="button" class="b-popup" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="b-popup">Save</button>
      </div>
    </div>
  </div>
</div>
