<h2 class="pt-3 mx-auto p-address">Address</h2>
<ng-template [ngIf]="customerAddresses">
  <form [formGroup]="form">
    <div class="row-height mx-auto">
      <div *ngFor="let item of getNumberArray()" class="row">
        <div *ngFor="let customerAddresses of getAddresses()" class="mt-4">
          <div class="box">
            <div class="d-flex justify-content-between mt-2 ms-2 me-2">
              <app-input
                class="d-flex flex-row-reverse"
                type="radio"
                inputId="radio"
                [control]="form.get('selectedAddress')"
                >Select as a primary address</app-input
              >
              <div>
                <img
                  [routerLink]="['update']"
                  class="me-3"
                  src="../../../../../assets/images/address-feature/addresspenicon.png"
                  width="22"
                  height="22"
                />
                <img
                  class="me-3"
                  src="../../../../../assets/images/address-feature/addresstrashicon.png"
                  width="22"
                  height="22"
                />
              </div>
            </div>
            <div class="box-content d-flex justify-content-center">
              {{ customerAddresses.cityName }},
              {{ customerAddresses.districtName }},
              {{ customerAddresses.neighbourhood }},
              {{ customerAddresses.street }},<br />
              {{ customerAddresses.houseNumber }}<br />
              {{ customerAddresses.description }}
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-6">
            <div class="box d-flex justify-content-center align-items-center">
                    <button class="b-add-address">Add New Address</button>
            </div>
            </div>-->
    </div>
  </form>
</ng-template>
