<div
  class="search-customer d-flex justify-content-around align-items-center border border-dark"
>
  <div
    class="search-filter border border-dark d-flex flex-column justify-content-around align-items-center"
  >
    <app-input
      inputId="search-customer-id-number"
      class="d-flex flex-column search-customer-input"
      type="number"
      placeholder=""
      inputClasses="search-customer-input-field"
      labelClasses="login-screen-label text-dark fw-semibold "
      >ID Number</app-input
    >

    <app-input
      inputId="search-customer-customer-id-number"
      class="d-flex flex-column search-customer-input"
      type="number"
      placeholder=""
      inputClasses="search-customer-input-field"
      labelClasses="login-screen-label text-dark fw-semibold "
      >Customer ID</app-input
    >

    <app-input
      inputId="search-customer-account-number"
      class="d-flex flex-column search-customer-input"
      type="text"
      placeholder=""
      inputClasses="search-customer-input-field"
      labelClasses="login-screen-label text-dark fw-semibold "
      >Account Number</app-input
    >

    <app-input
      inputId="search-customer-gsm-number"
      class="d-flex flex-column search-customer-input"
      type="number"
      placeholder=""
      inputClasses="search-customer-input-field"
      labelClasses="login-screen-label text-dark fw-semibold "
      >GSM Number</app-input
    >

    <app-input
      inputId="search-customer-first-name"
      class="d-flex flex-column search-customer-input"
      type="text"
      placeholder=""
      inputClasses="search-customer-input-field"
      labelClasses="login-screen-label text-dark fw-semibold "
      >First Name</app-input
    >

    <app-input
      inputId="search-customer-last-name"
      class="d-flex flex-column search-customer-input"
      type="text"
      placeholder=""
      inputClasses="search-customer-input-field"
      labelClasses="login-screen-label text-dark fw-semibold "
      >Last Name</app-input
    >

    <app-input
      inputId="search-customer-order-name"
      class="d-flex flex-column search-customer-input"
      type="text"
      placeholder=""
      inputClasses="search-customer-input-field"
      labelClasses="login-screen-label text-dark fw-semibold "
      >Order Name</app-input
    >

    <div class="buttons d-flex">
      <app-button
        type="submit"
        buttonClasses="search-customer-button fw-bolder"
        class="d-flex justify-content-center w-75"
        >Clear</app-button
      >
      <app-button
        type="submit"
        buttonClasses="search-customer-button fw-bolder"
        class="d-flex justify-content-center w-75"
        >Search</app-button
      >
    </div>
  </div>
  <div
    class="search-result border border-dark d-flex flex-column justify-content-around align-items-center"
  >
    <app-table
      [headers]="headers"
      headerClasses="table-header"
      class="search-result-table"
    >
      <tr *ngFor="let customer of customers">
        <td >
         <a [routerLink]="['/home/customer/' + customer.customerId]">{{ customer.customerId }}</a>
        </td>
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.middleName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.role }}</td>
        <td>{{ customer.id }}</td>
      </tr>
    </app-table>
  </div>
</div>
