.search-customer {
  //width: 100rem;
  width: 80vw;
  height: 85%;

  .search-filter {
    width: 25%;
    height: 90%;

    .buttons {
      width: 80%;
    }

    .search-customer-input {
      width: 90%;
    }
  }

  .search-result {
    width: 72%;
    height: 90%;
  }
}

.search-result-table{
  width: 95%;
  height: 95%;
}


