.search-customer {
  background-color: #fff;
  width: 80vw;
  height: 96%;

  .search-filter {
    width: 25%;
    height: 95%;

    .buttons {
      width: 80%;
    }

    .search-customer-input {
      width: 90%;
    }
  }

  .search-result {
    width: 72%;
    height: 95%;
  }
}

.search-result-table {
  width: 95%;
  height: 95%;

  tr {
    td {
      background-color: #ffcea6;
    }
  }
}

.customer-not-found-header {
  width: 16rem;
}
