<div
  class="search-customer d-flex justify-content-around align-items-center border border-dark"
>
  <div
    class="search-filter border border-dark d-flex flex-column justify-content-evenly align-items-center"
  >
    <app-input
      inputId="search-customer-id-number"
      class="d-flex flex-column search-customer-input"
      type="number"
      placeholder=""
      inputClasses="form-control"
      labelClasses="login-screen-label text-dark mb-2 fw-bolder text-xl"
      >ID Number</app-input
    >

    <app-input
      inputId="search-customer-customer-id-number"
      class="d-flex flex-column search-customer-input"
      type="number"
      placeholder=""
      inputClasses="form-control"
      labelClasses="login-screen-label text-dark mb-2 fw-bolder text-xl"
      >Customer ID</app-input
    >

    <app-input
      inputId="search-customer-account-number"
      class="d-flex flex-column search-customer-input"
      type="text"
      placeholder=""
      inputClasses="form-control"
      labelClasses="login-screen-label text-dark mb-2 fw-bolder text-xl"
      >Account Number</app-input
    >

    <app-input
      inputId="search-customer-gsm-number"
      class="d-flex flex-column search-customer-input"
      type="number"
      placeholder=""
      inputClasses="form-control"
      labelClasses="login-screen-label text-dark mb-2 fw-bolder text-xl"
      >GSM Number</app-input
    >

    <app-input
      inputId="search-customer-first-name"
      class="d-flex flex-column search-customer-input"
      type="text"
      placeholder=""
      inputClasses="form-control"
      labelClasses="login-screen-label text-dark mb-2 fw-bolder text-xl"
      >First Name</app-input
    >

    <app-input
      inputId="search-customer-last-name"
      class="d-flex flex-column search-customer-input"
      type="text"
      placeholder=""
      inputClasses="form-control"
      labelClasses="login-screen-label text-dark mb-2 fw-bolder text-xl"
      >Last Name</app-input
    >

    <app-input
      inputId="search-customer-order-name"
      class="d-flex flex-column search-customer-input"
      type="text"
      placeholder=""
      inputClasses="form-control"
      labelClasses="login-screen-label text-dark mb-2 fw-bolder text-xl"
      >Order Name</app-input
    >

    <div class="buttons d-flex">
      <app-button
        type="submit"
        buttonClasses="search-customer-button fw-bolder"
        class="d-flex justify-content-center w-75"
        >Clear</app-button
      >
      <app-button
        type="submit"
        buttonClasses="search-customer-button fw-bolder"
        class="d-flex justify-content-center w-75"
        >Search</app-button
      >
    </div>
  </div>
  <div
    class="search-result border border-dark d-flex flex-column justify-content-around align-items-center"
  >
    <app-table [headers]="headers" headerClasses="table-header" class="search-result-table">
      <tr class="table-primary" *ngFor="let customer of customers">
        <td>{{customer.customerId}}</td>
        <td>{{customer.firstName}}</td>
        <td>{{customer.middleName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{customer.role}}</td>
        <td>{{customer.id}}</td>
      </tr>
    </app-table>
  </div>
</div>
