.contact-medium-create-container {
  padding: 1.25rem;
  width: 80vw;
  height: 96%;
}

.contact-medium-create-title {
  color: #f38022;
  display: flex;
  font-weight: bold;
  padding: 1rem;
}

.edit-icon {
  margin-left: 0.5rem;
  cursor: pointer;
}

.form-container {
  margin-top: 1rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form-group {
  flex: 0 0 48%;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.buttons {
  margin-top: 5rem;
}

.title-container {
  align-self: flex-start;
}
