<div class="customer-info">
  <h2
    class="d-flex justify-content-center align-items-center w-50 pt-5 fw-bolder customer-info-header"
  >
    Customer Info

    <img
      class="ms-2"
      [routerLink]="['update']"
      src="../../../../../assets/images/customer-info/customer-info-update.png"
    />
  </h2>
  <div class="d-flex h-75 w-100 justify-content-evenly">
    <div
      class="d-flex flex-column justify-content-around align-items-end customer-info-column"
    >
      <div class="d-flex customer-info-item justify-content-between">
        <span class="w-50 font-inter fw-bold">First Name:</span>
        <span class="w-50 font-inter">Sertaç</span>
      </div>
      <div class="d-flex customer-info-item justify-content-between">
        <span class="w-50 font-inter fw-bold">Middle Name:</span>
        <span class="w-50 font-inter">yok</span>
      </div>
      <div class="d-flex customer-info-item justify-content-between">
        <span class="w-50 font-inter fw-bold">Last Name:</span>
        <span class="w-50 font-inter">YILDIRIR</span>
      </div>
      <div class="d-flex customer-info-item justify-content-between">
        <span class="w-50 font-inter fw-bold">Gender:</span>
        <span class="w-50 font-inter">Male</span>
      </div>
    </div>
    <div
      class="d-flex flex-column justify-content-around align-items-start customer-info-column"
    >
      <div class="d-flex customer-info-item justify-content-between">
        <span class="w-50 font-inter fw-bold">Mother Name:</span>
        <span class="w-50 font-inter">---------</span>
      </div>
      <div class="d-flex customer-info-item justify-content-between">
        <span class="w-50 font-inter fw-bold">Father Name:</span>
        <span class="w-50 font-inter">----------</span>
      </div>
      <div class="d-flex customer-info-item justify-content-between">
        <span class="w-50 font-inter fw-bold">Birth Date:</span>
        <span class="w-50 font-inter">02/04/1996</span>
      </div>
      <div class="d-flex customer-info-item justify-content-between">
        <span class="w-50 font-inter fw-bold">Nationality ID:</span>
        <span class="w-50 font-inter">12345678910</span>
      </div>
    </div>
  </div>
</div>
