.customer-info {
  height: 80%;

  .customer-info-header {
    color: #f38022;

    img {
      cursor: pointer;
    }
  }

  .customer-info-column {
    width: 20%;

    .customer-info-item {
      width: 80%;
    }
  }
}
