.p-offer{
    font-family: "inter", sans-serif;
    color: #F38022;
    font-size: 1.3rem;
    font-weight: 900;
    padding-left: 4rem;
    margin-bottom: 2rem;
}

.div-button{
    width: 85%;
    
}

.sales-layout {
    width: 84vw;
}

.box{
    background-color: #FFCDA4;
    border: 0.05rem solid;
    height: 60vh;
}

table{
    font-weight: 400;
    font-family: "inter", sans-serif;
    width: 90%;
    text-align: center;
    th{
        background-color: #DEA57C;
        font-weight: 400;
        font-family: "inter", sans-serif;
    }
    tr:nth-child(odd) {
        td{
            background-color: #EFEFEF;
            
        }
    }
    tr:nth-child(even) {
        td{
            background-color: #DEA57C;
        }
    }
}

select{
    height: 2rem;
}

.input-background{
    background-color: #FFCDA4;
}

