.customer-account-header {
  font-family: "inter", sans-serif;
  color: #f38022;
  width: 90%;
}

.customer-account-icon {
  cursor: pointer;
}

.customer-account-table-header {
  background-color: rgba(243, 128, 34, 0.68);
}

.customer-account-table-data {
  background-color: #ffcda4;
}

.customer-account-sub-table-row:nth-child(odd) td {
  background-color: #efefef;
}

.customer-account-sub-table-row:nth-child(even) td {
  background-color: rgba(36, 35, 66, 0.15);
}

.customer-account-sub-table-header th {
  background-color: rgba(36, 35, 66, 0.15);
}
