<div class="d-flex mb-3">
  <h2 class="customer-account-header fw-bolder font-inter">
    Customer Accounts
  </h2>
  <app-button
    type="submit"
    buttonClasses="customer-account-button fw-normal me-4 px-4"
    class="d-flex justify-content-center w-25"
    >Create New Account</app-button
  >
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th class="customer-account-table-header" scope="col"></th>
        <th class="customer-account-table-header" scope="col">
          Account Status
        </th>
        <th class="customer-account-table-header" scope="col">
          Account Number
        </th>
        <th class="customer-account-table-header" scope="col">Account Name</th>
        <th class="customer-account-table-header" scope="col">Account Type</th>
        <th class="customer-account-table-header" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="customer-account-table-data">
          <a
            class="customer-account-icon"
            data-bs-toggle="collapse"
            data-bs-target="#collapseExample1"
            aria-expanded="false"
            aria-controls="collapseExample1"
            (click)="toggleCollapse()"
          >
          <img [src]="isCollapsed ? '../../../../../assets/images/customer-account/down-arrow.png' : '../../../../../assets/images/customer-account/up-arrow.png'"
          alt=""
        />
          </a>
        </td>
        <td class="customer-account-table-data">1</td>
        <td class="customer-account-table-data">John Doe</td>
        <td class="customer-account-table-data">Abs</td>
        <td class="customer-account-table-data">dfg</td>
        <td class="customer-account-table-data">
          <a class="me-2">
            <img
              src="../../../../../assets/images/customer-account/trash.png"
              alt=""
            />
          </a>
          <a>
            <img
              src="../../../../../assets/images/customer-account/edit.png"
              alt=""
            />
          </a>
        </td>
      </tr>
      <tr class="collapse" id="collapseExample1">
        <td colspan="9">
          <div class="card card-body">
            <table class="table">
              <thead>
                <tr class="customer-account-sub-table-header">
                  <th scope="col">Product ID</th>
                  <th scope="col">Product Name Action</th>
                  <th scope="col">Campaign Name</th>
                  <th scope="col">Campaign ID</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="customer-account-sub-table-row">
                  <td>001</td>
                  <td>ADSL 8MB</td>
                  <td></td>
                  <td></td>
                  <td>
                    <a class="me-2">
                      <img
                        src="../../../../../assets/images/customer-account/delete.png"
                        alt=""
                      />
                    </a>
                    <a>
                      <img
                        src="../../../../../assets/images/customer-account/eye.png"
                        alt=""
                      />
                    </a>
                  </td>
                </tr>
                <tr class="customer-account-sub-table-row">
                  <td>001</td>
                  <td>ADSL 8MB</td>
                  <td></td>
                  <td></td>
                  <td>
                    <a class="me-2">
                      <img
                        src="../../../../../assets/images/customer-account/delete.png"
                        alt=""
                      />
                    </a>
                    <a>
                      <img
                        src="../../../../../assets/images/customer-account/eye.png"
                        alt=""
                      />
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-center mt-2">
            <app-button
              type="submit"
              buttonClasses="customer-account-button fw-normal me-4 px-4"
              class="d-flex justify-content-center w-25"
            >
              Start New Sale
            </app-button>
            <app-button
              type="submit"
              buttonClasses="customer-account-button fw-normal me-4 px-4"
              class="d-flex justify-content-center w-25"
              >Transfer</app-button
            >
            <app-button
              type="submit"
              buttonClasses="customer-account-button fw-normal me-4 px-4"
              class="d-flex justify-content-center w-25"
              >Service Address Change</app-button
            >
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
