<div class="customer-create">
  <div class="h-75">
    <h2 class="customer-create-header">Create Billing Account</h2>
    <div
      class="d-flex flex-column align-items-start justify-content-between w-100"
    >
      <app-input
        inputId="create-billing-account-name"
        class="form-group w-100"
        type="text"
        placeholder=""
        inputClasses="create-billing-account-input w-25"
        labelClasses="create-billing-account-label"
        [required]="true"
      >
        Account Name
      </app-input>

      <div class="form-group billing-account-section-2 w-100">
        <label class="create-billing-account-label" for="account-description"
          >Account Description *</label
        >
        <textarea
          id="account-description"
          class="text-area w-75"
          rows="4"
        ></textarea>
      </div>

      <div class="form-group billing-account-section-3">
        <div>
          Address Info
          <app-button
            type="submit"
            buttonClasses="create-billing-account-button me-4"
            class="d-flex align-items-center w-75"
            >Add New Address</app-button
          >
        </div>

        <div class="my-scroll row w-100">
          <div class="col-6">
            <div class="box">
              <div class="d-flex justify-content-between mt-2 mx-2">
                <app-input
                  class="d-flex flex-row-reverse"
                  type="radio"
                  inputId="radio1"
                  [checked]="true"
                  name="address"
                  >Select as a primary address</app-input
                >
                <div class="">
                  <img
                    class="me-3"
                    src="../../../../../assets/images/address-feature/addresspenicon.png"
                    width="22"
                    height="22"
                  />
                  <img
                    class="me-3"
                    src="../../../../../assets/images/address-feature/addresstrashicon.png"
                    width="22"
                    height="22"
                  />
                </div>
              </div>
              <div class="">
                City, District, Neighborhood, Street Name,<br />
                House/Flat Number<br />
                Address Description
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="box">
              <div class="d-flex justify-content-between mt-2 mx-2">
                <app-input
                  class="d-flex flex-row-reverse"
                  type="radio"
                  inputId="radio2"
                  name="address"
                  >Select as a primary address</app-input
                >
                <div class="">
                  <img
                    class="me-3"
                    src="../../../../../assets/images/address-feature/addresspenicon.png"
                    width="22"
                    height="22"
                  />
                  <img
                    class="me-3"
                    src="../../../../../assets/images/address-feature/billingtrashenableicon.png"
                    width="22"
                    height="22"
                  />
                </div>
              </div>
              <div class="">
                City, District, Neighborhood, Street Name,<br />
                House/Flat Number<br />
                Address Description
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center h-25">
    <app-button
      type="submit"
      buttonClasses="general-button me-4"
      class="d-flex align-items-center -center w-75"
      >Cancel</app-button
    >
    <app-button
      type="submit"
      buttonClasses="general-button me-4"
      class="d-flex align-items-center -center w-75"
      >Save</app-button
    >
  </div>
</div>
