<!-- <app-input labelName="E-mail" inputType="email"></app-input>
<app-input labelName="Password" inputType="password"></app-input> -->
<div class="main login-form">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="border-end w-50">
      <img src="../../../assets/images/login-screen/crmlogo.png" class="" />
    </div>
    <div class="w-50 d-flex flex-column">
      <p class="login-text ms-5">{{ title }}</p>
      <form
        (submit)="onFormSubmit()"
        [formGroup]="form"
        class="d-flex flex-column align-items-start w-75 mx-auto"
      >
        <app-input
          inputId="email"
          class="w-75 mt-4"
          type="email"
          placeholder=""
          inputClasses="form-control"
          labelClasses="login-screen-label text-white mb-2 fw-bolder text-xl"
          [required]="true"
          [control]="form.get('email')"
          >E-mail</app-input
        >
        <div
          class="mt-3"
          *ngIf="
            form.controls['email'].errors !== null && form.get('email')?.touched
          "
        >
          <p class="text-danger fw-bold">
            {{ form.get("email")?.errors | errorMessages }}
          </p>
        </div>

        <div class="form-group w-75">
          <div class="capslock-on-main mt-4 mb-2">
            <label
              for="password"
              class="login-screen-label text-white fw-bolder text-xl"
            >
              Password *
            </label>
            <span *ngIf="capslockIsActive" class="capslockOn">
              <img
                class="me-1"
                src="../../../../../assets/images/login-screen/bi_capslock-fill.png"
              />
              CACPS LOCK is on!
            </span>
          </div>
          <div class="input-group w-100">
            <input
              (keydown)="onKeyDown($event)"
              id="password"
              [type]="passwordInputType"
              class="form-control"
              placeholder=""
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
              formControlName="password"
            />
            <span
              class="input-group-text"
              id="basic-addon2"
              (click)="showPasswordToggle()"
            >
              <img class="show-password-icon" [src]="showPasswordIconUrl" />
            </span>
          </div>
        </div>

        <div
          class="mt-3"
          *ngIf="
            form.controls['password'].errors !== null &&
            form.get('password')?.touched
          "
        >
          <p class="text-danger fw-bold">
            {{ form.get("password")?.errors | errorMessages }}
          </p>
        </div>
        <app-input
          inputId="rememberMe"
          class="form-check mt-3"
          type="checkbox"
          inputClasses="form-check-input"
          labelClasses="login-screen-label form-check-label text-white"
          autocomplete="off"
          [control]="form.get('rememberMe')"
        >
          Remember me!
        </app-input>
        <app-button
          type="submit"
          buttonClasses="btn login-submit-button mt-3 fw-medium"
          class="d-flex justify-content-center w-75"
        >
          Login
        </app-button>
        <p *ngIf="showLoginError" class="text-danger fw-bold mt-3">
          {{ loginErrorMessage }}
        </p>
      </form>
    </div>
  </div>
</div>
