<div class="contact-medium-container">
  <h2 class="contact-medium-title mx-auto pt-3">
    Contact Medium
    <img
      [routerLink]="['update']"
      src="../../../../../assets/images/contact-medium/edit-icon.png"
      class="edit-icon"
    />
  </h2>
  <div class="contact-medium-content mx-auto">
    <div
      class="info-item d-flex justify-content-evenly align-items-center w-25"
    >
      <span class="w-50">Email:</span>
      <span class="w-50 text-start">{{ contactMediumDetail?.email }}</span>
    </div>
    <div
      class="info-item d-flex justify-content-between align-items-center w-25"
    >
      <span class="w-50">Mobile Phone:</span>
      <span class="w-50 text-start">{{
        contactMediumDetail?.mobilePhone
      }}</span>
    </div>
    <div
      class="info-item d-flex justify-content-between align-items-center w-25"
    >
      <span class="w-50">Home Phone:</span>
      <span class="w-50 text-start">{{ contactMediumDetail?.homePhone }}</span>
    </div>
    <div
      class="info-item d-flex justify-content-between align-items-center w-25"
    >
      <span class="w-50">Fax:</span>
      <span class="w-50 text-start">{{ contactMediumDetail?.fax }}</span>
    </div>
  </div>
</div>
