.contact-medium-title {
  font-family: "inter", sans-serif;
  color: #f38022;
  width: 90%;
}

.contact-medium-content {
  width: 90%;
}

.edit-icon {
  margin-left: 0.5rem;
  cursor: pointer;
}

.info-item {
  margin-bottom: 0.625rem;
  font-size: 1.1rem;
}

.info-item span:first-child {
  font-weight: bold;
  margin-right: 0.625rem;
  display: block;
  padding: 1rem 0;
}
